body{
    margin: 0;
    background-color: #dfdfdf;
    font-family: 'Montserrat', sans-serif;
}

article{
    width: 100vw;
    display: flex;
    flex-flow: row;
    margin: 2vh auto 0;
    max-height: 85vh;
    justify-content: center;
    height: 91vh;
    align-items: center;
}

.right-section{
    font-size: 1.3em;
    text-align: center;
    width: 50%;
    padding-left: 5vw;
    padding-right: 2vw;
    align-self: center;
    max-height: 90vh;
}

h1{
    width: 100%;
    height: 3vh;
    text-align: center;
    padding-bottom: 2vh;
}

.image-container{
    width: 37%;
    max-width: 420px;
}

.my-image{
    width: 100%;
    max-width: 420px;
    max-height: 90vh;
}