body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}

main{
    min-height: 93vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
}

.left-section{
    width: 30vw;
    height: auto;
    border: 2px solid black;
    font-size: 2em;
    min-height: 92.6vh;
    border-right: none;
}

.admin-list-title{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 120%;
}

.admin-product-list{
    display: flex;
    flex-flow: column;
    padding: 0;
    margin-top: 1vh;
}

.admin-product-item{
    font-size: 110%;
}

.right-section{
    width: 70vw;
    border: 2px solid black;
    overflow: auto;
}

input[type=submit], .add-product-button{
    width: auto;
    height: 2em;
    background-color: #ffffff;
    border-radius: 0.4em;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.3em;
}

input[type=submit], .add-product-a:hover{
    color: black!important;
    cursor: pointer;
}

.button-row{
    height: 4vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 2vh;
}

.image-container{
    margin-top: 3%;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-image{
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    border: 1px solid black;
}

.fa-times{
    font-size: calc(2vh + 1vw);
    color: red;
    height: fit-content;
    align-self: start;
    position: relative;
    left: -2.1vw;
}

.fa-times:hover{
    color: #c80000;
}

.image-block{
    width: 25%;
    display: flex;
    flex-flow: row;
    flex-basis: 26%;
    margin-top: 2vh;
}

.custom-file-input{
    width: 26%;
    text-align: center;
    border: 1px solid;
    height: 11vw;
    border-radius: 0.8em;
    margin-bottom: 1vh;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vw;
}

.image-form-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2vh;
}

#image-form{
    display: none;
}

input[type=number]{
    border: 1px solid black;
    border-radius: 4px;
    width: 6%;
}

input[type=text]{
    margin-bottom: 2vh;
    width: 75%;
    align-self: center;
    text-align: center;
    border: 1px solid;
    border-radius: 6px;
    font-size: 1em;
}

.product-data-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-top: 2px solid;
    padding-top: 2vh;
    border-bottom: 2px solid;
    padding-bottom: 2vh;
}

.product-data-submit{
    align-self: center;
    width: 27%!important;
    font-size: 1em!important;
}

.product-icon-form{
    display: none;
}

.product-creation-form{
    display: flex;
    flex-flow: row-reverse;
    border-bottom: 2px solid black;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.text-input-container{
    display: flex;
    width: 75%;
    flex-flow: column;
    margin-top: 3vh;
}

.space-left{
    margin-left: 3vw;
}

.border-top{
    border-top: 2px solid;
    margin-top: 2vh;
}