.catalog-body{
    height: auto;
    overflow-x: hidden;
}

.catalog{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80vw;
    margin: 0 auto 4vh;
}

.catalog-tile{
    margin: 4vh 2vw 4vh 2vw;
    height: 320px;
    width: 401px;
    border-radius: 1.5em;
    background-color: #ffffff;
    opacity: 0.8;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px solid #868686;
}

.catalog-image{
    margin-top: 7%;
    max-height: 69%;
    max-width: 83%;
    border-radius: 0.9em;
}

.catalog-title{
    font-size: x-large;
    margin-top: 5%;
    font-weight: bold;
}

.catalog-tile:hover{
    border-color: #868686;
}

.catalog-tile:focus{
    border-color: black;
}

.no-hover:hover{
    color: black;
    border: none;
    cursor: pointer;
}

.no-hover-black:hover{
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

@media (max-width: 500px) {
    .catalog-tile {
        height: 251px;
        width: 315px;
    }
}