body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
    flex-flow: row;
    border: 2px solid;
    border-radius: 1em;
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 2vh;
    background-color: #f6f6f6;
    max-width: 1500px;
}

.contact-link{
    margin-top: 1vh;
    margin-bottom: 1vh;
    word-break: break-word;
}

h1{
    width: fit-content;
    margin: 2vh auto 0;
}

.left-section{
    padding-left: 4vw;
    box-sizing: border-box;
    width: 35vw;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #e2e2e2;
    border-radius: 1em;
}

.right-section{
    width: 65vw;
    display: flex;
    flex-flow: column;
    height: 100%;
    border-radius: 1em;
    background-color: #f6f6f6;
    overflow: auto;
    align-items: center;
    padding-right: 6vw;
    box-sizing: border-box;
}

input[type=text], input[type=email]{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black;
    outline: none!important;
    width: 28vw;
    font-size: 1.2em;
    padding-bottom: 1vh;
    box-sizing: border-box;
    max-width: 250px;
    background: none;
    font-weight: lighter;
    min-width: 175px;
}

input[type=text]:hover, input[type=email]:hover{
    border-bottom: 2px solid #bfbfbf;
}

.input-title{
    margin-bottom: 0.2vh;
    font-size: 0.8em;
}

.input-parent-container{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: 3vw;
    flex-flow: row!important;
}

.input-container{
    width: fit-content;
    margin: 2vw;
}

.option-parent-container{
    width: fit-content;
    padding: 2vw;
    margin-left: 3vw;
    max-width: 83%;
}

.option-container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.textarea-container{
    width: fit-content;
    align-self: center;
}

.contact-item{
    display: flex;
    flex-flow: row;
}

i{
    align-self: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.left-title{
    font-size: calc(1vw + 2vh);
    font-weight: bold;
}

.parent-option-title{
    font-weight: bold;
}

.option{
    display: flex;
    flex-flow: row-reverse;
}

.option-title{
    align-self: center;
    margin-left: 1vw;
}

input[type=radio]{
    align-self: center;
    font-size: 3em;
    transform: scale(1.3);
}

textarea{
    width: 48vw;
    height: 7em;
    resize: none;
    border: 0;
    border-bottom: 2px solid;
    outline: none!important;
    font-size: 1.2em;
    background: none;
    max-width: 530px;
    min-width: 175px;
}

input[type=submit]{
    float: right;
    margin-top: 5vh;
    width: 8vw;
    height: 4vh;
    border: 2px solid;
    border-radius: 1em;
    min-width: 64px;
}

@media (max-width: 1070px) {
    body{
        height: auto;
    }
    main{
        flex-flow: column;
        height: fit-content;
        margin-bottom: 2vh;
    }
    .left-section{
        width: 100%;
        align-items: center;
        padding: 0 0 2vh;
        height: fit-content;
    }
    .right-section{
        width: 100%;
    }
    .contact-item{
        display: flex;
        flex-flow: row;
        justify-content: center;
    }
    .input-parent-container{
        margin-left: 0;
        align-self: center;
        justify-content: center;
        flex-flow: column!important;
    }
    .option-parent-container{
        margin-left: 0;
        align-self: center;
        width: 77vw;
    }
    textarea{
        width: 70vw;
    }
}