body{
    margin: 0;
    font-family: 'Montserrat';
    height: 100vh;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
}


h1{
    font-size: 8.3vh;
    margin: 0;
}

h3{
    font-size: 3.3vh;
}

h4{
    font-size: 3.3vh;
}

#menu{
    width: 8vw;
    border-radius: 20px;
    background-color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: medium;
    max-width: 200px;
    min-width: 80px;
    height: 40px;
}

#menu:focus{
    outline: none;
}

.cake{
    max-width: 34.8vw;
    max-height: 89.5vh;
}

footer{
    width: 100%;
    height: 6vh;
    font-family: 'Dancing Script', sans-serif;
    text-align: right;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 2.5vh;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding-bottom: 1vh;
}

main{
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-flow: row;
    height: 87vh;
    align-content: center;
}

container{
    max-width: 900px;
}

@media(max-width: 1400px){
    main{
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

@media(max-width: 600px) {
    h3{
        font-size: 2.3vh;
    }
    h1{
        font-size: 6.3vh;
    }
    h4{
        font-size: 2vh;
    }
    .cake{
        max-width: 34.8vw;
        max-height: 89.5vh;
        align-self: flex-start;
        margin-top: 24vh;
        margin-right: 7vw;
    }
}

@media (max-width: 400px) {
    .cake{
        margin: 0;
        max-width: 54.8vw;
        max-height: 92.5vh;
        align-self: center;
    }
    main{
        margin: 0 auto;
        align-items: center;
        display: flex;
        flex-flow: inherit;
        height: 87vh;
        align-content: center;
        justify-content: center;
    }
}

