nav{
    width: 100%;
    height: 7vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.2vh;
    background-color: #f6f6f6;
    display: flex;
    flex-flow: row;
    justify-content: start;
}

.logo{
    width: 6.2vw;
    height: 4.3vh;
    float: left;
    align-self: center;
}

.fa-bars{
    height: fit-content;
    align-self: center;
}

.nav-toggle{
    background: transparent;
    border: none !important;
    margin-left: 2vw;
    font-size: 1.4em;
    margin-right: 0.2vw;
    align-self: center;
}

.nav-toggle:hover{
    cursor: pointer;
    color: #ddb796;
}

.nav-toggle:focus{
    outline: none;
    color: gray;
}

ul{
    list-style: none;
    margin: 0 auto;
    align-self: center;
    padding-left: 0px;
    padding-right: 6vw;
}

li{
    float: left;
    margin-left: 3vw;
    width: auto;
}

a{
    text-decoration: none;
    color: black;
    height: fit-content;
    align-self: center;
}

a:hover{
    color: #ddb796;
}

#contact{
    margin-right: 3vw;
}

#product-list{
    visibility: hidden;
    list-style: none;
    position: absolute;
    margin: 0;
    left: 0.1vw;
    top: 7vh;
    width: 192px;
    height: auto;
    font-size: 2.4vh;
    background-color: #f1f1f1;
    border: 1px solid white;
    padding: 1.5vh 1vw 2vh 0;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
    width: fit-content;
    padding-right: 20px;
    padding-left: 15px;
    box-sizing: border-box;
}

.product-item{
    margin: 1vh 0 0 21px;
    float: none;
}

#product-list-title{
    font-size: 1em;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.product-icon{
    width: 22px;
    height: 22px;
}

@media (max-width: 400px) {
    ul{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    nav{
        height: 11vh;
    }
    #product-list{
        top: 11vh;
    }
    .product-item{
        margin: 0 0 0 0;
        float: none;
    }
}
