body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #dfdfdf;
}

h1, h2{
    text-align: center;
    width: 100%;
}

.product-page{
    margin-top: 2vh;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-bottom: 2vh;
}

.product-image{
    background-color: #f1f1f1;
    border-radius: 1em;
    height: 65vh;
    width: auto;
    float: left;
    border: 2px solid #868686;
}

.product-image-container{
    margin-left: 2vw;
    margin-top: 3vh;
    height: 105%;
    display: flex;
    flex-flow: column;
}

#photo-selector{
    display: flex;
    flex-flow: row;
    width: 12vw;
    justify-content: space-evenly;
    margin-top: 2vh;
    font-weight: bold;
    align-self: center;
}

.line{
     border-top: 1px solid black;
    height: 1px;
    width: 3vw;
    align-self: center;
}

.number:hover{
    cursor: pointer;
}

article{
    align-self: center;
    margin-right: 5vw;
}

.product-title{
    text-align: left;
    font-size: calc(2vh + 1.5vw);
    margin: 0;
}

.product-description{
    text-align: left;
    font-size: calc(1vh + 0.7vw);
    font-weight: bold;
}

.path{
    font-size: calc(1.1vh + 0.7vw);
    margin: 3vh 0 0 2vw;
    word-spacing: 0.9vw;
    font-weight: bold;
    color: #383838;
}

.product-brand, .product-price{
    font-size: calc(0.9vh + 0.6vw);
    font-weight: bold;
    font-weight: bold;
}

.product-price{
    color: #ddb796;
}

#order-button{
    width: 8vw;
    border-radius: 20px;
    background-color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: medium;
    max-width: 200px;
    min-width: 80px;
    height: 40px;
}

#order-button:focus{
    outline: none;
}


@media screen and (max-aspect-ratio: 1/1) {
    .product-page{
        flex-flow: column;
    }
    .product-image{
        width: 80vw;
        height: auto!important;
        align-self: center;
    }
    #photo-selector{
        width: 35vw;
    }
    article{
        margin-right: 0;
        align-self: center;
        margin-top: 4vh;
        display: flex;
        flex-flow: column;
    }
    .product-title{
        text-align: center;
        font-size: calc(3vh + 2.25vw);
    }
    .product-brand, .product-price{
        text-align: center;
        font-size: calc(1.2vh + 0.9vw);
    }
    .product-price{
        margin: 0;
    }
    .product-description{
        text-align: center;
        font-size: calc(1.5vh + 1.1vw);
        margin-top: 1.5vh;
    }
    #order-button{
        align-self: center;
    }
}

@media (max-width: 400px) {
    .path{
        font-size: calc(1.6vh + 0.9vw);
    }
}

