body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    width: 8px;
    background-color: #e3e3e3;
}

body::-webkit-scrollbar-thumb {
  background-color: #858585;
  border-radius: 10px;
}