{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rachel's Sweetopia</title>
    <link rel="stylesheet" href="{% static 'css/navbar_module.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar_module.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_page.css' %}">
    {% include 'head_module.html' %} {% block head %} {% endblock %}
</head>
<body>
    {% include 'navbar_module.html' %} {% block navbar %} {% endblock %}
    <article>
        <div class="image-container">
            <img src="{% static "images/cake2.jpg" %}" class="my-image" alt="cake">
        </div>
        <div class="right-section">
            <h1> Artist </h1>
            <p>I started this journey when I was 11 years old inspired the show „Cake Boss” on TLC. While being into the arts, I wanted to challenge myself by making art that is edible. So I taught myself how to bake; from watching videos, doing research, and countless hours of practice. As I got older, I started craving different desserts that I couldn’t get anywhere near where I lived, so I took on another challenge from making simple sweets to complex dessert. <br> <br>
            It is now my passion to create desserts specialized to your occasion. I pay very close attention to detail and will only give my best in every order I have. I keep in mind your vision, while still creating designs that are modern and new, with great quality.
            </p>
        </div>
    </article>
</body>
</html>