{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/navbar_module.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar_module.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_page.css' %}">
    {% include 'head_module.html' %} {% block head %} {% endblock %}
</head>
<body>
    {% include 'navbar_module.html' %} {% block navbar %} {% endblock %}
    <main>
        <div class="left-section">
            <ul class="admin-product-list">
                <li class="admin-list-title"> Products: </li>
                {% for product in products %}
                <li class="admin-product-item"> <a href="panel?title={{ product.title }}"> {{ product.title }} </a> </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right-section">
            {% if choice == True %}
                <form class="button-row" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button class="add-product-button"> <a class="add-product-a" href="{% url 'panel' %}"> Add new product </a> </button>
                    <input type="submit" name="delete-product" value="Delete product">
                 </form>
                <container class="image-container">
                    {% for photo in photos %}
                        <div class="image-block">
                            <img src="{% static photo.image %}" class="product-image" alt="image">
                            <a class="fas fa-times" href="{% url 'panel' %}?title={{ product }}&image={{ photo.pk }}"></a>
                        </div>
                    {% endfor %}
                </container>
                <form id="form" action="panel?title={{ productTitle }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <container class="image-form-container">
                        <label class="custom-file-input">
                            Upload an Image {{ imageForm.image }}
                        </label>
                        {{ imageForm.order }}
                    </container>
                </form>
                 <form method="POST" class="product-creation-form  border-top" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="text-input-container">
                        <input type="text" class="product-title-form" name="product-title" value="{{ product.title }}">
                        <input type="text" class="product-description-form" name="product-description" value="{{ product.description }}">
                        <input type="submit" class="product-data-submit" value="Save">
                    </div>
                    <label class="custom-file-input space-left" style="background-image: url('{% static product.icon %}')">
                        Upload an Icon <input type="file" class="product-icon-form" name="product-icon">
                    </label>
                </form>
            {% endif %}
            {% if choice == False %}
                <form method="POST" class="product-creation-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="text-input-container">
                        {{ productForm.title }}
                        {{ productForm.description }}
                        <input type="submit" class="product-data-submit" value="Save">
                    </div>
                    <label class="custom-file-input space-left">
                            Upload an Icon {{ productForm.icon }}
                        </label>
                </form>
            {% endif %}
        </div>
    </main>
</body>
    <script src="{% static 'javascript/admin_page.js' %}"> </script>
</html>