{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rachel's Sweetopia</title>
    <link rel="stylesheet" href="{% static 'css/navbar_module.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar_module.css' %}">
    {% include 'head_module.html' %} {% block head %} {% endblock %}
    <script src="{% static 'javascript/image-handler.js' %}"></script>
    <script src="{% static 'javascript/product-page-resizer.js' %}"></script>
</head>

<body {% if choice == False %} class="catalog-body" {% endif %}>
    {% include 'navbar_module.html' %} {% block navbar %} {% endblock %}

    <p class="path"> <a href="{% url 'home' %}" class="no-hover"> Sweetopia </a> > <a href="{% url 'catalog' %}" class="no-hover"> Catalog </a> {% if choice %}> <a class="no-hover"> {{ product.title }} </a> {% endif %}</p>

    {% if choice %}
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                imageHandler({{ photoAmount }},"{{ product.title }}", {{ photoNumber }});
            });
            window.addEventListener('resize', () => {
                pageResizer();
            })
        </script>
        <main class="product-page">
            <div class="product-image-container">
                <img src="{% static photoPath %}" class="product-image" id="product-image" alt="Product image">
                <div id="photo-selector"> </div>
            </div>
            <article>
                <h1 class="product-title"> {{ product.title }} </h1>
                <p class="product-brand"> By Rachel's Sweetopia</p>
                <p class="product-price"> Prices are set individually. </p>
                <p class="product-description"> {{ product.description }} </p>
                <a href="{% url 'contact' %}"> <button id="order-button"> Order </button> </a>
            </article>
        </main>
    {% endif %}

    {% if choice == False %}
        <h1> Catalog </h1>
        <main class="catalog">
            {% for item in list %}
                <a class="catalog-tile" href="catalog?title={{ item.product }}">
                    <img src="{% static item.photo %}" class="catalog-image" alt="photo">
                    <p class="catalog-title"> {{ item.product }}</p>
                </a>
            {% endfor %}
        </main>
    {% endif %}

</body>
</html>