{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/navbar_module.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar_module.css' %}">
    {% include 'head_module.html' %} {% block head %} {% endblock %}
</head>
<body>
    {% include 'navbar_module.html' %} {% block navbar %} {% endblock %}
    <h1> Contact us </h1>
    <main>
        <div class="left-section">
            <p class="left-title"> Contact Information </p>
            <div class="contact-info">
                <div class="contact-item"> <i class="fas fa-phone"></i> <a href="tel:+18057179137" class="contact-link"> +1 805-717-9137 </a> </div>
                <div class="contact-item"> <i class="fas fa-envelope"></i> <a class="contact-link"> RachelSweetopia@gmail.com </a> </div>
                <div class="contact-item"> <i class="fab fa-instagram"></i> <a class="contact-link" href="https://www.instagram.com/rachel.sweetopia/"> @rachel.sweetopia </a> </div>
            </div>
        </div>
        <form class="right-section" method="POST">
            {% csrf_token %}
            <div class="input-parent-container">
                <div class="input-container">
                    <p class="input-title">First Name</p>
                    <input type="text" name="firstName">
                </div>
                <div class="input-container">
                    <p class="input-title">Last Name</p>
                    <input type="text" name="lastName">
                </div>
            </div>
            <div class="input-parent-container">
                <div class="input-container">
                    <p class="input-title">E-mail</p>
                    <input type="email" name="email">
                </div>
                <div class="input-container">
                    <p class="input-title">Phone</p>
                    <input type="text" name="phone">
                </div>
            </div>
            <div class="option-parent-container">
                <p class="parent-option-title">Type of question: </p>
                <div class="option-container">
                    <div class="option"> <p class="option-title">Order</p> <input type="radio" name="type" value="Order"> </div>
                    <div class="option"> <p class="option-title">Question</p> <input type="radio" name="type" value="Question"> </div>
                    <div class="option"> <p class="option-title">Other</p> <input type="radio" name="type" value="Other"> </div>
                </div>
            <div class="textarea-container">
                <p class="input-title">Message:</p>
                <textarea name="message"></textarea>
            </div>
            <input type="submit" value="Send">
        </form>
    </main>
</body>
</html>