{% load static %}
{% block head %}
    {#    basic    #}
    <meta charset="UTF-8">
    <title>Rachel's Sweetopia</title>
    {#    fonts     #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
    {#    icons     #}
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-5.15.1-web/css/all.min.css' %}" >
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}