{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/navbar_module.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar_module.css' %}">
    {% include 'head_module.html' %} {% block head %} {% endblock %}
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include 'navbar_module.html' %} {% block navbar %} {% endblock %}
    <main>
        <container>
            <h3> TASTY AND PRETTY </h3>
            <h1> Pastries from heaven</h1>
            <h4> We specialize in making the most tasteful, prettiest and best desserts that you can imagine. </h4>
            <a href="{% url 'catalog' %}" class="button-a"><button id="menu"> Menu </button></a>
        </container>
        <img class="cake" src="{% static 'images/cake.png' %}">
    </main>
    <footer> Rachel's Sweetopia</footer>
</body>
</html>