<!DOCTYPE html>
<html lang="en">
<head>
	<title>Rachel's Sweetopia</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<style> 
		body{
            font-family: Montserrat, serif;
		    display: flex;
		    width: 100vw;
		    height: 100vh;
		    margin: 0;
		    flex-flow: column;
		    padding-left: 2vw;
		    box-sizing: border-box;	
		}
		.email, .name{
			font-size: 3vw;
		}
		.message{
			font-size: 4vw;
		}
		main{
		    background-color: gainsboro;
		    border: 2px solid;
		    margin: 2vw;
		    padding: 1vw;
		    border-radius: 1em;
		}
	</style>
</head>
<body>
	<main>
		<p class="email"> From: {{ email }}</p>
		<p class="name"> Name: {{ firstName }} {{ lastName }} </p>
		<p class="name"> Phone: {{ phone }}</p>
		<p class="message"> Message: <br>{{ message }} </p>
	</main>	
</body>
</html>