{% block navbar %}

    {% load static %}
    <nav>
        <button class="nav-toggle"><i class="fas fa-bars" onclick="toggleNav()"></i> </button>
        <img class="logo" src="{% static 'images/logo.svg' %}">
        <script src="{% static 'javascript/nav-toggler.js' %}"></script>
        <ul>
            <li> <a href="{% url 'home' %}"> Home </a> </li>
            <li> <a href="{% url 'catalog' %}"> Products </a> </li>
            <li> <a href="{% url 'about' %}"> About </a> </li>
        </ul>
        <a id="contact" href="{% url 'contact' %}"> Contact </a>
    </nav>
    <ul id="product-list">
        <p id="product-list-title"> Menu </p>
        {% for i in products %}
            <li class="product-item"> <img src="{% static i.icon %}" class="product-icon"><a href="{% url 'catalog' %}?title={{ i.title }}"> {{ i.title }} </a> </li>
        {% endfor %}
    </ul>

{% endblock %}